@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebe6e6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.title {
    text-align: center;
    font-size: 2.45rem;
    font-family: "BBH Bartle", sans-serif;
}

main {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.country-select {
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 1.05rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    background: #aaa4a4;
    box-shadow: 4px 5px 0;
}