@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebe6e6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.title {
    text-align: center;
    font-size: 2.45rem;
    font-family: "BBH Bartle", sans-serif;
}

main {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.country-select {
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 1.05rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    background: #aaa4a4;
    box-shadow: 4px 5px 0;
}

.places-grid {
    width: 100%;
    margin-top: 3rem;
    padding: 1.05rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 35px;
}

.place-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    animation: fadeIn;
    animation-timeline: view();
    animation-range-start: 50px;
    animation-range-end: 500px;
}

.place-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.place-name {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-size: 1.95rem;
}

.place-description {
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: justify;
    font-family: "Edu VIC WA NT Hand", sans-serif;
    font-weight: 500;
    font-size: .85rem;
}

@keyframes fadeIn {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}